### Домашнее задание

1. взять любой набор данных для бинарной классификации (можно скачать один из модельных с https://archive.ics.uci.edu/ml/datasets.php)
3. сделать feature engineering

Датасет где нужно узнать доход человека на основе данных о нём, предоставленных ниже. Он выше или меньше 50K $

In [23]:
import pandas as pd

df = pd.read_csv('adult.csv')

df.head(5)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [24]:
categorial_features = ['State-gov', 'Bachelors', 'Never-married', 'Adm-clerical', 'Not-in-family', 'White', 'Male', 'United-States']

In [28]:
normal_values = []

for value in df[' <=50K']:
    if value == " <=50K":
        normal_values.append(0)
    if value == " >50K":
        normal_values.append(1)

df[' <=50K'] = normal_values

In [30]:
df[' <=50K'].value_counts()

0    24719
1     7841
Name:  <=50K, dtype: int64

In [32]:
df = pd.get_dummies(df, prefix=categorial_features)

In [33]:
df.describe()

,39,77516,13,2174,0,40,<=50K,State-gov_ ?,State-gov_ Federal-gov,State-gov_ Local-gov,...,United-States_ Portugal,United-States_ Puerto-Rico,United-States_ Scotland,United-States_ South,United-States_ Taiwan,United-States_ Thailand,United-States_ Trinadad&Tobago,United-States_ United-States,United-States_ Vietnam,United-States_ Yugoslavia
count,32560.000000,3.256000e+04,32560.000000,32560.000000,32560.000000,32560.000000,32560.000000,32560.000000,32560.000000,32560.000000,...,32560.000000,32560.000000,32560.000000,32560.000000,32560.000000,32560.000000,32560.000000,32560.000000,32560.000000,32560.000000
mean,38.581634,1.897818e+05,10.080590,1077.615172,87.306511,40.437469,0.240817,0.056388,0.029484,0.064281,...,0.001136,0.003501,0.000369,0.002457,0.001566,0.000553,0.000584,0.895854,0.002058,0.000491
std,13.640642,1.055498e+05,2.572709,7385.402999,402.966116,12.347618,0.427586,0.230673,0.169161,0.245257,...,0.033691,0.059068,0.019194,0.049508,0.039547,0.023506,0.024150,0.305455,0.045316,0.022162
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,1.178315e+05,9.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,37.000000,1.783630e+05,10.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,48.000000,2.370545e+05,12.000000,0.000000,0.000000,45.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
df.head(5)

,39,77516,13,2174,0,40,<=50K,State-gov_ ?,State-gov_ Federal-gov,State-gov_ Local-gov,...,United-States_ Portugal,United-States_ Puerto-Rico,United-States_ Scotland,United-States_ South,United-States_ Taiwan,United-States_ Thailand,United-States_ Trinadad&Tobago,United-States_ United-States,United-States_ Vietnam,United-States_ Yugoslavia
0,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,37,284582,14,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

4. обучить любой классификатор (какой вам нравится)

In [35]:
X = df.drop(columns=[' <=50K'])
y = df[' <=50K']

In [43]:
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

params_model = {
    'eval_metric': 'F1',
    'auto_class_weights': 'Balanced',
    'silent': True,
    'one_hot_max_size': 20,
    'early_stopping_rounds': 50,
    'boosting_type': 'Ordered',
    'allow_writing_files': False
}

cbr_final_model = CatBoostClassifier(
    **params_model,
    depth=8,
    iterations=100,
    learning_rate=0.5
)

cbr_final_model.fit(X_train, y_train, eval_set=(X_test, y_test))
y_predict = cbr_final_model.predict(X_test)

In [44]:
from sklearn.metrics import recall_score, precision_score, roc_auc_score, accuracy_score, f1_score

def evaluate_results(y_test, y_predict):
    print('Classification results:')
    f1 = f1_score(y_test, y_predict)
    print("f1: %.2f%%" % (f1 * 100.0)) 
    roc = roc_auc_score(y_test, y_predict)
    print("roc: %.2f%%" % (roc * 100.0)) 
    rec = recall_score(y_test, y_predict, average='binary')
    print("recall: %.2f%%" % (rec * 100.0)) 
    prc = precision_score(y_test, y_predict, average='binary')
    print("precision: %.2f%%" % (prc * 100.0)) 

    
evaluate_results(y_test, y_predict)

Classification results:
f1: 71.68%
roc: 84.98%
recall: 88.14%
precision: 60.40%

5. далее разделить ваш набор данных на два множества: P (positives) и U (unlabeled). Причем брать нужно не все положительные (класс 1) примеры, а только лишь часть

In [39]:
def get_p_u(df):
    positive = df[:5000]
    unlabled = df[5000:]
    return positive, unlabled

In [42]:
positive = get_p_u(df)[0]
unlabeld = get_p_u(df)[1]

6. применить random negative sampling для построения классификатора в новых условиях

In [46]:
mod_data = df.sample(frac=1)

neg_sample = mod_data[mod_data[' <=50K']==0][:len(mod_data[mod_data[' <=50K']==1])]
sample_test = mod_data[mod_data[' <=50K']==0][len(mod_data[mod_data[' <=50K']==1]):]

pos_sample = mod_data[mod_data[' <=50K']==1]
print(neg_sample.shape, pos_sample.shape)

sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)

(7841, 109) (7841, 109)

In [47]:
cbr_final_model.fit(sample_train.iloc[:,:-2].values, 
          sample_train.iloc[:,-2].values)
y_predict = cbr_final_model.predict(sample_test.iloc[:,:-2].values)
evaluate_results(sample_test.iloc[:,-2].values, y_predict)

Classification results:
f1: 69.81%
roc: 91.97%
recall: 84.09%
precision: 59.68%

7. сравнить качество с решением из пункта 4 (построить отчет - таблицу метрик)
8. поэкспериментировать с долей P на шаге 5 (как будет меняться качество модели при уменьшении/увеличении размера P)

In [51]:
table_df = pd.DataFrame()

table_df['model'] = ['normal', 'look a like']
table_df['f1'] = [71.68, 69.81]
table_df['roc'] = [84.98, 91.97]
table_df['recall'] = [88.14, 84.09]
table_df['precision'] = [60.40, 59.68]
 
table_df

         model     f1    roc  recall  precision
0       normal  71.68  84.98   88.14      60.40
1  look a like  69.81  91.97   84.09      59.68

In [56]:
def get_p_u(df, stepP, stepU):
    positive = df[:stepP]
    unlabled = df[stepU:]
    return positive, unlabled

In [57]:
positive = get_p_u(df,2000,5000)[0]
unlabeld = get_p_u(df,2000,5000)[1]

In [58]:
mod_data = df.sample(frac=1)

neg_sample = mod_data[mod_data[' <=50K']==0][:len(mod_data[mod_data[' <=50K']==1])]
sample_test = mod_data[mod_data[' <=50K']==0][len(mod_data[mod_data[' <=50K']==1]):]

pos_sample = mod_data[mod_data[' <=50K']==1]
print(neg_sample.shape, pos_sample.shape)

sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)

(7841, 109) (7841, 109)

In [59]:
cbr_final_model.fit(sample_train.iloc[:,:-2].values, 
          sample_train.iloc[:,-2].values)
y_predict = cbr_final_model.predict(sample_test.iloc[:,:-2].values)
evaluate_results(sample_test.iloc[:,-2].values, y_predict)

Classification results:
f1: 49.06%
roc: 76.99%
recall: 54.17%
precision: 44.83%

При уменьшении P значение F1 упало

In [60]:
positive = get_p_u(df,8000,5000)[0]
unlabeld = get_p_u(df,8000,5000)[1]

In [61]:
mod_data = df.sample(frac=1)

neg_sample = mod_data[mod_data[' <=50K']==0][:len(mod_data[mod_data[' <=50K']==1])]
sample_test = mod_data[mod_data[' <=50K']==0][len(mod_data[mod_data[' <=50K']==1]):]

pos_sample = mod_data[mod_data[' <=50K']==1]
print(neg_sample.shape, pos_sample.shape)

sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)

(7841, 109) (7841, 109)

In [62]:
cbr_final_model.fit(sample_train.iloc[:,:-2].values, 
          sample_train.iloc[:,-2].values)
y_predict = cbr_final_model.predict(sample_test.iloc[:,:-2].values)
evaluate_results(sample_test.iloc[:,-2].values, y_predict)

Classification results:
f1: 49.52%
roc: 83.21%
recall: 66.67%
precision: 39.39%

При увеличении P незначительно увеличилось

Че тупить - проверим в цикле

In [64]:
for iterations in range(3000, 25000, 1000):
    positive = get_p_u(df,iterations,iterations)[0]
    unlabeld = get_p_u(df,iterations,iterations)[1]
    mod_data = df.sample(frac=1)
    neg_sample = mod_data[mod_data[' <=50K']==0][:len(mod_data[mod_data[' <=50K']==1])]
    sample_test = mod_data[mod_data[' <=50K']==0][len(mod_data[mod_data[' <=50K']==1]):]

    pos_sample = mod_data[mod_data[' <=50K']==1]
    print(neg_sample.shape, pos_sample.shape)

    sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)
    
    cbr_final_model.fit(sample_train.iloc[:,:-2].values, 
    sample_train.iloc[:,-2].values)
    y_predict = cbr_final_model.predict(sample_test.iloc[:,:-2].values)
    evaluate_results(sample_test.iloc[:,-2].values, y_predict)

(7841, 109) (7841, 109)
Classification results:
f1: 54.39%
roc: 84.33%
recall: 68.89%
precision: 44.93%
(7841, 109) (7841, 109)
Classification results:
f1: 64.65%
roc: 90.94%
recall: 82.05%
precision: 53.33%
(7841, 109) (7841, 109)
Classification results:
f1: 52.34%
roc: 77.91%
recall: 56.00%
precision: 49.12%
(7841, 109) (7841, 109)
Classification results:
f1: 59.65%
roc: 85.32%
recall: 70.83%
precision: 51.52%
(7841, 109) (7841, 109)
Classification results:
f1: 52.17%
roc: 77.83%
recall: 55.81%
precision: 48.98%
(7841, 109) (7841, 109)
Classification results:
f1: 50.60%
roc: 74.36%
recall: 48.84%
precision: 52.50%
(7841, 109) (7841, 109)
Classification results:
f1: 58.49%
roc: 89.64%
recall: 79.49%
precision: 46.27%
(7841, 109) (7841, 109)
Classification results:
f1: 62.07%
roc: 82.87%
recall: 65.85%
precision: 58.70%
(7841, 109) (7841, 109)
Classification results:
f1: 62.86%
roc: 88.29%
recall: 76.74%
precision: 53.23%
(7841, 109) (7841, 109)
Classification results:
f1: 56.60%
roc: 87.39%
recall: 75.00%
precision: 45.45%
(7841, 109) (7841, 109)
Classification results:
f1: 65.35%
roc: 97.04%
recall: 94.29%
precision: 50.00%
(7841, 109) (7841, 109)
Classification results:
f1: 49.09%
roc: 78.62%
recall: 57.45%
precision: 42.86%
(7841, 109) (7841, 109)
Classification results:
f1: 59.70%
roc: 92.41%
recall: 85.11%
precision: 45.98%
(7841, 109) (7841, 109)
Classification results:
f1: 51.92%
roc: 79.26%
recall: 58.70%
precision: 46.55%
(7841, 109) (7841, 109)
Classification results:
f1: 64.08%
roc: 90.16%
recall: 80.49%
precision: 53.23%
(7841, 109) (7841, 109)
Classification results:
f1: 64.81%
roc: 89.69%
recall: 79.55%
precision: 54.69%
(7841, 109) (7841, 109)
Classification results:
f1: 57.14%
roc: 88.91%
recall: 78.05%
precision: 45.07%
(7841, 109) (7841, 109)
Classification results:
f1: 43.33%
roc: 77.52%
recall: 55.32%
precision: 35.62%
(7841, 109) (7841, 109)
Classification results:
f1: 35.96%
roc: 68.52%
recall: 37.21%
precision: 34.78%
(7841, 109) (7841, 109)
Classification results:
f1: 58.59%
roc: 83.64%
recall: 67.44%
precision: 51.79%
(7841, 109) (7841, 109)
Classification results:
f1: 52.34%
roc: 85.78%
recall: 71.79%
precision: 41.18%
(7841, 109) (7841, 109)
Classification results:
f1: 65.35%
roc: 86.60%
recall: 73.33%
precision: 58.93%

Какой-то прямой закономерности нету, так что лучше всего в цикле подбирать оптимальные пороги